<!DOCTYPE html>
<html>
<head>
	<title>my express</title>
</head>
<body>
	<h1><%= title %></h1>
	<form method="POST" action="/calender">
		<label>Calender</label><br>
		<input type="url" name="calenderlink" value="please input a link">
		<br>
		<input type="submit" value="Submit">
	</form>
</body>
</html>
