extends layout

block content
  // WELCOME
  section#welcome
    div
      h1 Hi #{name}!
  // TIME & WEATHER
  section
    #day
      #time.day-sec
        //h2= today_date (disgarded, this is the backend time) 
        h2.time
      #weather.day-sec
        h2= today_weather
  // COURSES & ASSIGNMENTS
  section
    #main-func
      // ASSIGNMENTS
      #assignments
        h3 Upcoming Due
        div.todo_list