extends layout

block content
  .jumbotron.bg-transparent.my-6
    div
      h1.display-4 
        |  Hi 
        span #{name} 
        | !
  .row.main-sec.align-middle
    .col-sm-6.left-sec
      .date-sec
        .date
          .date-up
          .date-down
            h2.time.mt-4
      .weather-sec
        .weather
          .weather-up
          .weather-down
            h2.mt-4 #{today_weather}
    .col-sm-6.right-sec
      .assignment-sec
        .assignment
          .assi-up
            h3.mt-4 Assignment
              .assi-down.text-left
                div.todo_list