extends layout

block content
  // WELCOME
  section#welcome
    div
      h1 Hi Yuan!
  // TIME & WEATHER
  section
    #day
      #time.day-sec
        //h2= today_date (disgarded, this is the backend time) 
        h2.time
      #weather.day-sec
        h2= today_weather
  // COURSES & ASSIGNMENTS
  section
    #main-func
      // COURSES
      #courses
        h3 Courses Today
        #courses-list
          ul
            li SSW 690 | 12:00-14:30 |A 115
            li SSW 565 | 18:15-20:45 |BC 310
      // ASSIGNMENTS
      #assignments
        h3 Upcoming Due
        ul
          li
            span 18:00
            |  SSW 565 | Weekly
            |                             Assignment: Apache Styles - G1
          li
            span 23:59
            |  SSW 567 | Quiz 04
          li
            span 23:59
            |  CPE 593 | Optional: find
            |                             optimal k for Knuth
    
    
    