doctype html
html
    head
        title DuckMommy
        meta(name="viewpoint" content="width=device-width, initial-scale=1.0")
        link(rel='stylesheet' type='text/css' href='/stylesheets/style.css' media='screen')
        script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js")
    body
        div.showcase
            //HEADER
            header
                nav#main-nav
                    ul
                        li
                            a(href='/') Home
                        li 
                            a(href='/Homework') Homework
                        li
                            h1 DuckMommy
                        li
                            a(href='/account/settings') Settings
                        li
                            a(href='/account/logout') Logout
            if errors
                each error, i in errors 
                    div #{error.msg}
            //!= messages('message', locals)
            != messages()
            block content
        footer#main-footer
            p Copyright &copy; 2019 | DuckMommy
    script(src="/js/script.js")
