doctype html
html
    head
        title DuckMommy
        link(rel='stylesheet' type='text/css' href='/stylesheets/style.css' media='screen')
        script(src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js")
    body
        //HEADER
        header
            nav#main-nav
                ul
                    li
                        a(href='/') Home
                    li 
                        a(href='/Homework') Assignments
                    li
                        h1 DuckMommy
                    li
                        a(href='/account/settings') Settings
                    li
                        a(href='/account/logout') Log out
        if errors
            each error, i in errors 
                div #{error.msg}
        //!= messages('message', locals)
        != messages()
        block content
        footer#main-footer
            p Copyright &copy; 2019 | DuckMommy
    script(src="/js/script.js")
