doctype html
html
    head
        title DuckMommy
        link(rel='stylesheet' type='text/css' href='../public/stylesheets/index.css' media='screen')
    body
        block content
        br
        hr
        footer
            p Copyright &copy; 2019 | DuckMommy