extends layout_min

block content
  h1 Welcome to DuckMommy!
  h2 New user? Create an account
  form(method='POST', action='/account/register')
    label First Name
    input(name='firstName', type="text")
    br
    label Last Name
    input(name='lastName', type="text")
    br
    label Email
    input(name='email', type="text")
    br
    label Password
    input(name='password', type="password")
    br
    label Confirm Password
    input(name='password2', type="password")
    br
    input(type='submit', value='Submit') 
    // later need to upgrade the button to "Create an Account" 