extends layout_min

block content
  h1 Welcome to DuckMommy!
  h2 New user? Create an account
  form#signup-form(method='POST', action='/account/register')
    label First Name
    br
    input(name='firstName', type="text")
    br
    label Last Name
    br
    input(name='lastName', type="text")
    br
    label Email
    br
    input(name='email', type="text")
    br
    label Password
    br
    input(name='password', type="password")
    br
    label Confirm Password
    br
    input(name='password2', type="password")
    br
    
    
  //Need to make changes.
  form(method='POST', action='send')
    <p class="full">
      <button type="submit">Submit</button>
    </p>
    //input(type='submit', value='Submit') 
    // later need to upgrade the button to "Create an Account" 
