extends layout_min

block content
  h1 Welcome to DuckMommy!
  h2 New user? Create an account
  form#signup-form(method='POST', action='/send')
    label First Name
    br
    input(name='firstName', type="text")
    br
    label Last Name
    br
    input(name='lastName', type="text")
    br
    label Email
    br
    input(name='email', type="text")
    br
    label Number
    br
    input(name='phone', type="number", id="number")
    br
    label Text
    br
    input(name='text', type="msg", id="msg")
    <p class="response"></p>
    br
    label Password
    br
    input(name='password', type="password")
    br
    label Confirm Password
    br
    input(name='password2', type="password")
    br
    input(type='submit', value='Submit') 
    // later need to upgrade the button to "Create an Account"

    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>  