extends layout
block content
  p.my-4 Paste your Canvas URL here:
  form(method='POST', action='settings') 
    label.my-4 URL:  
    input(name='canvasURL', type="text")
    input(type='submit', value='Submit')