extends layout

block content
  div.container
    //- div.row
    //-   form(name="location",action='/', method='post')
    //-     div.form-group
    //-       lable Location
    //-       input(type='text', class='form-control', name='city', placeholder='Enter your city name')
    //-     button(type='submit', class='btn btn-primary') Submit
    div(class='alert alert-primary', role='alert')
      p Current temperature in #{city} is #{temp}