@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

body {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: black;
    background-image: url(http://traversymedia.com/downloads/assets/beachshowcase.jpg);
    background-size: cover;
    background-attachment: fixed;
}


.jumbotron span {
    color: #c58668;
}



.date-sec,
.weather-sec {
    height: 300px;
    border: 0px solid #f0f0f0;
    text-align: center;
}

.date,
.weather {
    display: inline-block;
    height: 280;
    width: 80%;
    border: 0px solid black;
    border-radius: 25px;
    box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, .85);

}

.date-up {
    background-image: url("https://images.pexels.com/photos/2076494/pexels-photo-2076494.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
}

.weather-up {
    background-image: url("https://images.pexels.com/photos/45848/kumamoto-japan-aso-cloud-45848.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

.date-up,
.weather-up {
    width: 100%;
    background-size: cover;
    background-position: center;
    height: 180px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}


.date-down,
.weather-down {
    width: 100%;
    background-color: #deb5a2;
    height: 100px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}

.date-down {
    line-height: 100px;
}

.weather-down {
    line-height: 150px;
}

h2,
h3 {
    display: inline-block;
}

.assignment-sec {
    height: 600px;
    border: 0px solid #f0f0f0;
    text-align: center;
}



.assignment {
    display: inline-block;
    height: 580px;
    width: 90%;
    border-radius: 25px;
    box-shadow: 0px 4px 20px -4px rgba(0, 0, 0, .65);

}

.assi-up {
    width: 100%;
    background-color: #a2cede;
    height: 80px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}


.assi-down {
    width: 100%;
    height: 500px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.assi-down ul {
    list-style: none;
    list-style-position: outside;
    color: black;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.assi-down li {
    padding: 0.8em 1.2em;
    margin: 0, 20px, 0, 0;
    font-size: 16px;
}

.assi-down li:nth-child(odd) {
    background: rgb(253, 249, 239);
}

.details-sec {
    border: 0px solid #f0f0f0;
    text-align: center;
}

.details {
    display: inline-block;
    height: 100%;
    width: 95%;
    border-radius: 25px;


}

.details-up {
    width: 100%;
    background-color: rgba(193, 114, 80, 0.8);
    height: 60px;
}


.details-down {
    width: 100%;
    height: 520px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: white;
}


.details-down ul {
    list-style: none;
    list-style-position: outside;
    color: black;
    margin: 0;
    padding: 0;
}

.details-down li {
    padding: 0.8em 1.2em;
    margin: 0, 20px, 0, 0;
}

.hw-date {
    background: rgb(226, 190, 172);
    font-weight: 600;
}

.hw-sum {
    background: rgb(239, 220, 206);
}

.hw-des {
    background: rgb(253, 249, 239);
}

.footer {
    position: absolute;
    margin: 0px;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 30px;
    line-height: 30px;
    /* Vertically center the text there */
    background-color: black;
    color: rgb(253, 249, 239);
}